@common_red: #d43c33;
.banner {
    position: relative;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
::-webkit-scrollbar {
    display: none;
}
.selectedIndex {
    background-color: @common_red !important;
    opacity: 1 !important;
}

.banner_dotList {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li {     
        margin-right: 5px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: white;
        opacity: 0.5;
    }
}

