.swiper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    img {
        margin-right: 10px;
        width: 100%;
        border-radius: 8px;
    }
}