.span-title {
    color: gray;
    margin-top: 15px;
    display: block;
}
.option-list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.option-list-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 35px;
    }
    span {
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        display: block;
    }
}
.songList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   
}