.list {
    position: relative;
    top: 35px;
    left: 10px;
    margin-top: 10px;
    width: calc(100% - 20px);
}
.span_title {
    color: gray;
    margin-top: 15px;
    display: block;
}
.songList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .songList_item {
        margin-top: 10px;
        position: relative;
        width: 32%;
        flex-shrink: 0;
        p:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            transform: scale(0.8);
        }
        p:nth-child(3) {
            margin-top: 3px;
            height: 40px;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        img {
            width: 100%;
            border-radius: 2px;
        }
    }
}
.option_list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.option_list_item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 35px;
    }
    span {
        margin-top: 3px;
        font-size: 12px;
        font-weight: lighter;
        display: block;
    }
}
