@common-red: #d43c33;
@common-gray: rgb(245, 245, 245);
.navigation_back {
    width: 100%;
    h2 {
        font-weight: lighter;  
    } 
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}