.list {
    position: relative;
    top: 35px;
    left: 10px;
    width: calc(100% - 20px);
}
.span_title {
    color: gray;
}
.titleBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.common_title {
    
}
.common_button {
    
}