.navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img {
    width: 20px;
}
.navigation_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    color: gray; 
}
.navigation_options_selected {
    font-size: 17px;
    color: black;
}
