.navigation {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    left: 10px;
    right: 10px;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img {
    width: 20px;
}
.navigation-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    color: gray; 
}
.navigation-options-selected {
    font-size: 17px;
    color: black;
}
