@import "../common.less";
.box-img {
    position: relative;
    margin-right: 20px;
    img {
        width: 20px;
    }
    p {
        position: absolute;
        right: -30px;
        top: -7px;
        color: gray;
        transform: scale(0.7);
        text-align: left;
        width: 40px;
    }
}
.video-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.video-item-list {
    width: 100%;
    margin-top: 25px;
    background-color: white;
    overflow-y: auto;
}
.video-options {
    position: fixed;
    top: 30px;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    line-height: 30px;
    width: 90%;
    white-space: nowrap;
    overflow-x: auto;
    list-style: none;
    z-index: 100;
    background-color: white;
    li {
        margin-right: 5%;
        display:inline-block;
    }
    border-bottom: 1px solid @common-gray;
}
.video-options::-webkit-scrollbar {
    display: none;
}
.video-option-select {
    position: relative;
    color: @common-red;
}
.video-option-select:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid @common-red;
    transform: scaleY(.5);
    transform-origin: left bottom;
}
.video-item {
    video {
        margin-top: 5px;
        width: 100%;
        border-radius: 10px;
    }
}
.video-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    p {
        width: 90%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        box-sizing: border-box;
        border: 3px solid black;
    }
    border-bottom: 1px solid @common-gray;
}
.video-item-text-noImg{
    width: 100% !important;
}
.video-item-bottom {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid @common-gray;
}
.video-item-bottom-head {
    width: 30px;
    border-radius: 15px;
}
.video-item-bottom-text {
    margin-left: 10px;
}
.video-item-bottom-like, .video-item-bottom-message {
    float: right;
    .box-img();
}
.clearfix:after, .clearfix:before {
    display: table;
    content: "",
}
.clearfix:after {
    clear: both;
}